.firstmain{

    background-color: #2CE414;
    background-size: cover;
    background-repeat: no-repeat;
    height: 110vh;
    margin: auto;
    text-align: center;
    background-image: url(/images/growbg.jpg);
    }
    
    .slie{
    position: relative;
     
    height: 60vh;
    
    }
    
    .firstmain img{

width: 60%;
height: 75vh;

    }


    .firstmain button{
        background-color:green;
    border: none;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    
    }
    
    .firstmain button:hover{
        background-color: lawngreen;
    }
    
    .firstmain button:focus{
        box-shadow: 4px 3px 3px 2px rgb(218, 215, 215);
    }
    
    .firstmain button:active{
        background-color: aqua;
    }


    .footer-links {
        margin-bottom: 20px; /* add some space between the links and the next section */
      }
      
      .footer-links li {
        margin-bottom: 20px; /* add some space between each link */
        padding-left: 40px; /* add some padding to the left of each link */
    
      }
      
      .social-links {
        margin-bottom: 20px; /* add some space between the social links and the next section */
      }
      
      .social-links li {
        margin-bottom: 10px; /* add some space between each social link */
        padding-left: 20px; /* add some padding to the left of each social link */
      }
      
      .social-links i {
        font-size: 24px; /* increase the font size of the social media icons */
        margin-right: 10px; /* add some space between the icon and the link text */
      }
    
     .footer ul li {
    
    padding: 30px;
    
    
      }